<section id="contact" class="section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="section-title">Contact</h3>
        <div class="section-title-border"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
      <div class="span5 offset1">
        <h3><%= (t 'contacts.company_name') %></h3>

        <div class="media">
          <div class="social-icons sicon-white pull-left">
            <img alt="" src="/assets/phone-white.png" style="width: 23px; height: 23px; margin-top: -4px;">
            <%= image_tag("ua.png", alt: "UA", style: "margin-top: -4px; margin-left:10px;", title: "My phone number in Ukraine")%>
          </div>
          <div class="media-body smallFontBy08">
            <%= (t 'contacts.phone_c') %>

          </div>
        </div>
        <div class="media">
          <div class="social-icons sicon-white pull-left">
            <img alt="" src="/assets/phone-white.png" style="width: 23px; height: 23px; margin-top: -4px;">
            <%= image_tag("nz.png", alt: "NZ", style: "margin-top: -4px; margin-left:10px;", title: "My phone number in New Zealand")%>
          </div>
          <div class="media-body smallFontBy08">
            <%= (t 'contacts.phone_c') %>
          </div>
        </div>
        <div class="media">
          <div class="social-icons sicon-white pull-left">
            <img alt="" src="/assets/mail-white@2x.png" style="width: 30px; height: 30px; margin-top: -5px;">
          </div>
          <div class="media-body smallFontBy08">
            alexandr.basan@gmail.com
          </div>
        </div>
        <div class="media">
          <div class="social-icons sicon-white pull-left">
            <img alt="" src="/assets/earth-white@2x.png" style="width: 30px; height: 30px; margin-top: -3px;">
          </div>
          <div class="media-body smallFontBy08">
            alexandr-basan.proalab.com
          </div>
        </div>

      </div>
    </div>
      <div class="col-md-4">
        <div class="span5 offset1">
          <h3><%= (t 'contact.get_social') %></h3>
          <div class="social-icons sicon-white bordered">
            <a href="https://www.facebook.com/alexandr.basan" target="_blank" class="sicon-facebook"><img alt="" src="/assets/facebook-white@2x.png" style="width: 48px; height: 48px; border: 1px solid white;"></a>
            <a href="https://plus.google.com/+AleksandrBasan/posts" target="_blank" class="sicon-youtube"><img alt="" src="/assets/google-plus-white@2x.png" style="width: 48px; height: 48px; border: 1px solid white;"></a>
            <a href="https://twitter.com/alexandrbasan" target="_blank" class="sicon-twitter"><img alt="" src="/assets/twitter-white@2x.png" style="width: 48px; height: 48px; border: 1px solid white;"></a>
            <a href="https://www.linkedin.com/in/alexandrbasan" target="_blank" class="sicon-linkedin"><img alt="" src="/assets/linkedin-white@2x.png" style="width: 48px; height: 48px; border: 1px solid white;"></a>
          </div>
          </div>
        </div>
      <div class="col-md-4">
        <div class="span5 offset1">
          <h3><%= (t 'contact.get_social') %></h3>
                Copyright © 2014. All rights reserved.
          </div>
      </div>
    </div>
  </div>
</section>