<section class="section"  id="contact" name="contact" >
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="section-title"><%= (t 'menu.contact_us') %></h3>
        <div class="section-title-border"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
      <div class="span5 offset1">
        <h3><%= (t 'menu.contact_us') %></h3>

        <div class="media">
          <div class="social-icons sicon-white pull-left">
            <img alt="" src="/assets/phone-white.png" style="width: 23px; height: 23px; margin-top: -4px;">
            <%= image_tag("ua.png", alt: "UA", style: "margin-top: -4px; margin-left:10px;", title: "My phone number in Ukraine")%>
          </div>
          <div class="media-body smallFontBy08">
            <a href="tel:+380974147141"><%= (t 'contacts.phone_ua') %></a>
          </div>
        </div>
        <div class="media">
          <div class="social-icons sicon-white pull-left">
            <img alt="" src="/assets/phone-white.png" style="width: 23px; height: 23px; margin-top: -4px;">
            <%= image_tag("nz.png", alt: "NZ", style: "margin-top: -4px; margin-left:10px;", title: "My phone number in New Zealand")%>
          </div>
          <div class="media-body smallFontBy08">
            <a href="tel:+"><%= (t 'contacts.phone_nz') %></a>
          </div>
        </div>
        <div class="media">
          <div class="social-icons sicon-white pull-left">
            <img alt="" src="/assets/skype-white@2x.png" style="width: 30px; height: 30px; margin-top: -4px;">
          </div>
          <div class="media-body smallFontBy08">
            <a href="skype:alexandr.basan?call">alexandr.basan</a>
          </div>
        </div>
        <div class="media">
          <div class="social-icons sicon-white pull-left">
            <img alt="" src="/assets/mail-white@2x.png" style="width: 30px; height: 30px; margin-top: -5px;">
          </div>
          <div class="media-body smallFontBy08">
            <a href="mailto:alexandr.basan@gmail.com">alexandr.basan@gmail.com</a>
          </div>
        </div>
        <div class="media">
          <div class="social-icons sicon-white pull-left">
            <img alt="" src="/assets/earth-white@2x.png" style="width: 30px; height: 30px; margin-top: -3px;">
          </div>
          <div class="media-body smallFontBy08">
            alexbasan.proalab.com
          </div>
        </div>

      </div>
    </div>
      <div class="col-md-4">
        <div class="span5 offset1">
          <h3><%= (t 'contact.get_social') %></h3>
          <div class="social-icons sicon-white bordered">
            <a href="https://www.facebook.com/alexandr.basan" target="_blank" class="sicon-facebook"><img alt="" src="/assets/facebook-white@2x.png" style="width: 36px; height: 36px; border: 1px solid white;"></a>
            <a href="https://plus.google.com/+AleksandrBasan/posts" target="_blank" class="sicon-youtube"><img alt="" src="/assets/google-plus-white@2x.png" style="width: 36px; height: 36px; border: 1px solid white;"></a>
            <a href="https://twitter.com/alexandrbasan" target="_blank" class="sicon-twitter"><img alt="" src="/assets/twitter-white@2x.png" style="width: 36px; height: 36px; border: 1px solid white;"></a>
            <a href="https://www.linkedin.com/in/alexandrbasan" target="_blank" class="sicon-linkedin"><img alt="" src="/assets/linkedin-white@2x.png" style="width: 36px; height: 36px; border: 1px solid white;"></a>
            <a href="https://github.com/Proalab" target="_blank" class="sicon-linkedin"><img alt="" src="/assets/github-white@2x.png" style="width: 36px; height: 36px; border: 1px solid white;"></a>
          </div>
          </div>
        </div>
      <div class="col-md-4">
        <div class="span5 offset1">
          <h3><%= (t 'contact.say_hello') %></h3>
          <%= (t 'contact.general') %>
          <p></p>
          <p>Copyright © 2014. All rights reserved.</p>
          </div>
      </div>
    </div>
  </div>
</section>