<section class="section section-solid" id="cv" name="cv">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="section-title"><%= t ('menu.cv') %></h3>
        <div class="section-title-border"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <!--<p>Fusce convallis vulputate diam, eu dictum lacus imperdiet nec. Cras ac viverra nunc, ac dictum arcu. In pulvinar semper odio eu auctor. Cras sed mauris ut dolor porta feugiat.</p>-->
        <ul class="v-timeline">
          <li>
            <h3 class="v-heading wow fadeInDown"><i class="fa fa-graduation-cap"></i> <%= (t 'cv.work_experience') %></h3>
          </li>
          <li>
            <time class="v-time wow fadeInLeft"><span>Dec 2012 - Jan 2015</span></time>
            <div class="v-icon"><i class="fa fa-chevron-right"></i></div>
            <div class="v-label wow fadeInRight">
              <h4><%= (t 'cv.work_experience_first_company_name') %></h4>
              <p><%= (t 'cv.work_experience_first') %></p>
            </div>
          </li>
          <li>
            <time class="v-time wow fadeInLeft"><span>Feb 2013 - Jan 2015</span></time>
            <div class="v-icon"><i class="fa fa-chevron-right"></i></div>
            <div class="v-label wow fadeInRight">
              <h4><%= (t 'cv.work_experience_second_company_name') %></h4>
              <p><%= (t 'cv.work_experience_second') %></p>
            </div>
          </li>
          <li>
            <time class="v-time wow fadeInLeft"><span>Jul 2012 – Dec 2014</span></time>
            <div class="v-icon"><i class="fa fa-chevron-right"></i></div>
            <div class="v-label wow fadeInRight">
              <h4><%= (t 'cv.work_experience_third_company_name') %></h4>
              <p><%= (t 'cv.work_experience_third') %></p>
            </div>
          </li>
          <h1>...</h1>
        </ul>
        <ul class="v-timeline mt50">
          <li>
            <h3 class="v-heading wow fadeInDown"><i class="fa fa-graduation-cap"></i> <%= (t 'cv.education') %></h3>
          </li>
          <li>
            <time class="v-time wow fadeInLeft"><span>2014</span></time>
            <div class="v-icon"><i class="fa fa-chevron-right"></i></div>
            <div class="v-label wow fadeInRight">
              <h4><%= (t 'cv.education_second_speciality') %></h4>
              <p><%= (t 'cv.education_first') %></p>
            </div>
          </li>
          <li>
            <time class="v-time wow fadeInLeft"><span>2014</span></time>
            <div class="v-icon"><i class="fa fa-chevron-right"></i></div>
            <div class="v-label wow fadeInRight">
              <h4><%= (t 'cv.education_first_speciality') %></h4>
              <p><%= (t 'cv.education_first') %></p>
            </div>
          </li>
          <li>
            <time class="v-time wow fadeInLeft"><span>2007 - 2013</span></time>
            <div class="v-icon"><i class="fa fa-chevron-right"></i></div>
            <div class="v-label wow fadeInRight">
              <h4><%= (t 'cv.education_last_speciality') %></h4>
              <p><%= (t 'cv.education_last') %></p>
            </div>
          </li>
          <h1>...</h1>
        </ul>
      </div>
    </div>
    <div align="center">
      <%= link_to (I18n.t 'button.show') + ' ' + (I18n.t 'cv.completed') + ' ' + (I18n.t 'menu.cv'), '/assets/Alexandr_Basan_CV.pdf', class: "btn btn-theme-inverse", :target => "_blank" %>
    </div>

  </div>
</section>