<section id="facts" class="section">
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-3 wow fadeInDown animated" data-wow-duration="0.7s" data-wow-delay="0s" style="visibility: visible; -webkit-animation: fadeInDown 0.7s 0s;">
        <h1 class="counter">11</h1><h3><%= (t 'facts.years') %></h3>
        <p><%= (t 'facts.one') %></p>
      </div>
      <div class="col-sm-3 wow fadeInDown animated" data-wow-duration="0.7s" data-wow-delay="0s" style="visibility: visible; -webkit-animation: fadeInDown 0.7s 0s;">
        <h1 class="counter">8</h1><h3><%= (t 'facts.years') %></h3>
        <p><%= (t 'facts.two') %></p>
      </div>
      <div class="col-sm-3 wow fadeInDown animated" data-wow-duration="0.7s" data-wow-delay="0.1s" style="visibility: visible; -webkit-animation: fadeInDown 0.7s 0.1s;">
        <h1 class="counter">4</h1><h3><%= (t 'facts.years') %></h3>
        <p><%= (t 'facts.three') %></p>
      </div>
      <div class="col-sm-3 wow fadeInDown animated" data-wow-duration="0.7s" data-wow-delay="0.3s" style="visibility: visible; -webkit-animation: fadeInDown 0.7s 0.3s;">
        <h1 class="counter">50</h1><h3><%= (t 'facts.completed') %></h3>
        <p><%= (t 'facts.five') %></p>
      </div>
    </div>
  </div>
</section>