<section class="section section-solid" id="portfolio" name="portfolio" >
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="section-title"><%= t ('menu.portfolio') %></h3>
        <div class="section-title-border"></div>
      </div>
    </div>
<div class="row">
  <%= render 'static_pages/portfolio_view_more' %>
  <div class="col-sm-12" id="portfolio_result">
  </div>
  <h5 class="section-title" id="latest_project"><%= t ('content.latest_projects') %></h5>
  <div class="col-sm-12">
    <%= render 'static_pages/sites' %>
  </div>
  <div class="col-sm-12">
    <%= render 'static_pages/saas' %>
  </div>
  <h5 class="section-title"><%= t ('content.view_more_projects') %>...</h5>
  <%= render 'static_pages/portfolio_view_more' %>
</div>
  </div>
</section>