<div class="black-bg white page-contact" id="page-contact" style="padding-bottom: 0px;" >
  <div class="container">
    <div style="position: relative; z-index: 2; padding-top: 25px;" id="team" name="team">
      <div class="row">
      <header>
        </br>
        <h3 style="text-align: center; padding-bottom:10px; border-bottom: solid 1px lightgray;"><%= (t 'menu.team') %></h3>
        <div class="content team">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <h2><%= (t 'team.alexandr_basan') %></h2>
            <h3 class="italic"><%= (t 'team.ceo') %></h3>
            <div class="portrait">
              <%= image_tag("alexandr_basan.png") %>
            </div>
            <p><%= (t 'team.text_basan') %></p>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <h2><%= (t 'team.olga_yaroshenko') %></h2>
            <h3 class="italic"><%= (t 'team.developer') %></h3>
            <div class="portrait">
              <%= image_tag("olga_yaroshenko.png") %>
            </div>
            <p><%= (t 'team.text_yaroshenko') %></p>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <h2><%= (t 'team.evgen_peluhnya') %></h2>
            <h3 class="italic"><%= (t 'team.developer') %></h3>
            <div class="portrait">
              <%= image_tag("evgen_peluhnya.png") %>
            </div>
            <p><%= (t 'team.text_peluhnya') %></p>
          </div>

          <div class="col-md-4 col-sm-4 col-xs-12">
            <h2><%= (t 'team.andrey_kolesnik') %></h2>
            <h3 class="italic"><%= (t 'team.product_manager') %></h3>
            <div class="portrait">
              <%= image_tag("andrey_kolesnik.jpg") %>
            </div>
            <p><%= (t 'team.text_kolesnik') %></p>
          </div>

          <div class="col-md-4 col-sm-4 col-xs-12">
            <h2><%= (t 'team.kirill_koreshkof') %></h2>
            <h3 class="italic"><%= (t 'team.designer') %></h3>
            <div class="portrait">
              <%= image_tag("kirill_koreshkoff.png") %>
            </div>
            <p><%= (t 'team.text_koreshkof') %></p>
          </div>

          <div class="col-md-4 col-sm-4 col-xs-12">
            <h2><%= (t 'team.anna_pisanec') %></h2>
            <h3 class="italic"><%= (t 'team.designer') %></h3>
            <div class="portrait">
              <%= image_tag("anna_pisanec.png") %>
            </div>
            <p><%= (t 'team.text_pisanec') %></p>
          </div>


          <div class="col-md-4 col-sm-4 col-xs-12">
            <h2><%= (t 'team.anna_pisanec') %></h2>
            <h3 class="italic"><%= (t 'team.designer') %></h3>
            <div class="portrait">
              <%= image_tag("anna_pisanec.png") %>
            </div>
            <p><%= (t 'team.text_pisanec') %></p>
          </div>

          <div class="col-md-4 col-sm-4 col-xs-12">
            <h2><%= (t 'team.anna_pisanec') %></h2>
            <h3 class="italic"><%= (t 'team.designer') %></h3>
            <div class="portrait">
              <%= image_tag("anna_pisanec.png") %>
            </div>
            <p><%= (t 'team.text_pisanec') %></p>
          </div>

          <div class="col-md-4 col-sm-4 col-xs-12">
            <h2><%= (t 'team.anna_pisanec') %></h2>
            <h3 class="italic"><%= (t 'team.designer') %></h3>
            <div class="portrait">
              <%= image_tag("anna_pisanec.png") %>
            </div>
            <p><%= (t 'team.text_pisanec') %></p>
          </div>
        </div>
      </header>
        </div>
    </div>
    <div id="map-image">
      <img src="assets/photo-ruby@2x.jpg" alt="Treble" class="lazy">
    </div>
  </div>
</div>