<%= render 'static_pages/main' %>
<div class="container">
<!--About service-->
</div>
<div class="hidBlock"><%= (t 'content.tags').html_safe %></div>
<div style="background: #292929; padding-top: 5px;">
</div>
<%= render 'static_pages/about' %>
<%= render 'static_pages/skills' %>
<%= render 'static_pages/cv' %>
<%= render 'static_pages/facts' %>
<%= render 'static_pages/portfolio' %>
<div style="background: #ededed; padding-top: 5px;">
</div>
<!--Contact us-->
<%= render 'static_pages/contacts' %>



<button style="visibility: hidden;" id="portrait" type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-modal-sm">Small modal</button>
<!-- Modal -->
<div style="padding-top: 10%;" class="modal fade bs-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">You are in portrait orientation!</h4>
      </div>
      <div class="modal-body">
        <h2 style="color: #000000;">For better view turn your device in landscape orientation.</h2>
      </div>
    </div>
  </div>
</div>
<script>
    if(window.innerHeight > window.innerWidth){
        //alert("Please use Landscape!");
        $('#main_block_background_image').hide();
        $('#portfolio').hide();
        document.getElementById('portrait').click();
    }
</script>
<script>
    $(window).bind('orientationchange', function(event) {
        //alert('new orientation:' + event.orientation);
        location.reload(true);
    });
</script>