<%= render 'static_pages/main' %>
<div class="container">
<!--About service-->
</div>
<div class="hidBlock"><%= (t 'content.tags').html_safe %></div>
<div style="background: #292929; padding-top: 5px;">
</div>
<%= render 'static_pages/about' %>
<%= render 'static_pages/skills' %>
<%= render 'static_pages/cv' %>
<%= render 'static_pages/facts' %>
<%= render 'static_pages/portfolio' %>
<div style="background: #ededed; padding-top: 5px;">
</div>
<!--Contact us-->
<%= render 'static_pages/contacts' %>

<!-- Orientation page views -->
<button style="visibility: hidden;" id="portrait" type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-modal-sm">Small modal</button>
<!-- Modal -->
<div style="padding-top: 3%; z-index: 9999999;" class="modal fade bs-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
<!--      <div class="modal-header">

        <h4 class="modal-title" id="myModalLabel">For better view turn your device in landscape orientation.</h4>
      </div>-->
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 style="color: #000000;">For better view turn your device in landscape orientation.</h2>
        <div align="center"><%= image_tag("device_orientation.png", width: '150px;') %></div>
      </div>
    </div>
  </div>
</div>

<script>
    if(window.innerHeight > window.innerWidth){
        //alert("Please use Landscape!");
        $('#main_block_background_image').hide();
        $('#my_photo').hide();
        $('#portfolio').hide();
        document.getElementById('portrait').click();
    }
</script>
<script>
    $(window).bind('orientationchange', function(event) {
        //alert('new orientation:' + event.orientation);
        location.reload(true);
    });
</script>
<!-- Orientation page views -->