<%= render 'static_pages/main' %>
<div class="container">
<!--About service-->
</div>
<div class="hidBlock"><%= (t 'content.tags').html_safe %></div>
<%= render 'static_pages/sites' %>
<%= render 'static_pages/saas' %>
<%= render 'static_pages/technologies' %>
<%= render 'static_pages/ruby_developers' %>
<%= render 'static_pages/team' %>
<div style="background: #ededed; padding-top: 5px;">
</div>
<!--Contact us-->
<%= render 'static_pages/contacts' %>