<%= render 'static_pages/main' %>
<div class="container">
<!--About service-->
</div>
<div class="hidBlock"><%= (t 'content.tags').html_safe %></div>
<div style="background: #292929; padding-top: 5px;">
</div>
<%= render 'static_pages/skills' %>
<%= render 'static_pages/cv' %>
<%= render 'static_pages/facts' %>
<%= render 'static_pages/portfolio' %>
<div style="background: #ededed; padding-top: 5px;">
</div>
<!--Contact us-->
<%= render 'static_pages/contacts' %>