<div style="background: #fff; padding-bottom: 30px;" id="mobile_projects" name="mobile_projects">
  <div class="container">
    <div class="row">
      <h3 style="text-align: center; padding-bottom:10px; border-bottom: solid 1px lightgray;"><%= (t 'menu.mobile_projects') %></h3>
<!-- Carousel -->
      <div style="padding-bottom: 380px; padding-top: 10px; border-bottom: solid 1px lightgray;">
      <div class="col-md-8" style="text-align: center;">
        <div id="500" class="carousel slide" data-interval="5000" data-ride="carousel">
          <!-- Carousel indicators -->
          <ol class="carousel-indicators">
            <li data-target="#500" data-slide-to="0" class="active"></li>
            <li data-target="#500" data-slide-to="1"></li>
          </ol>
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="active item" style="background-color: #fff; text-align: center;">
              <div class="col-md-4"><%= image_tag("/assets/mobile_projects/loan_calc_free/1.png") %></div>
              <div class="col-md-4"><%= image_tag("/assets/mobile_projects/loan_calc_free/3.png") %></div>
              <div class="col-md-4"><%= image_tag("/assets/mobile_projects/loan_calc_free/4.png") %></div>
            </div>
            <div class="item" style="background-color: #fff; text-align: center;">
              <div class="col-md-4"><%= image_tag("/assets/mobile_projects/loan_calc_free/5.png") %></div>
              <div class="col-md-4"><%= image_tag("/assets/mobile_projects/loan_calc_free/6.png") %></div>
              <div class="col-md-4"><%= image_tag("/assets/mobile_projects/loan_calc_free/7.png") %></div>
            </div>
          </div>
          <!-- Controls -->
          <a class="left carousel-control" href="#500" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#500" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      </div>
      <div class="col-md-4" style="text-align: center;">
        <div class="vertical-align text-justify">
          <div class="row">
            <div style="border-right: 1px solid lightgray" class="col-md-6">
              <h4 style="text-align: center;">
                <%= 'Credit and Deposit calculator' %>
              </h4>
              <h4 style="text-align: center;">
                <a href="https://play.google.com/store/apps/details?id=com.cbsb.credcalc&feature=more_from_developer#?t=W251bGwsMSwxLDEwMiwiY29tLmNic2IuY3JlZGNhbGMiXQ.." target="_blank"><img alt="" src="/assets/link_android_link_android_get_it_on_play_logo_large.png" style="width: 131px; height: 40px;"></a>
              </h4>
            </div>
            <div class="col-md-6">
              <%= image_tag("/assets/mobile_projects/loan_calc_free/qr-code_loan_calc_1.gif") %>
            </div>
          </div>
        </div>
      </div>
      </div>
      <!-- Carousel -->
      <!-- Carousel -->
      <div style="padding-bottom: 380px; padding-top: 10px; border-bottom: solid 1px lightgray;">
        <div class="col-md-8" style="text-align: center;">
          <div id="501" class="carousel slide" data-interval="5000" data-ride="carousel">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
              <li data-target="#501" data-slide-to="0" class="active"></li>
              <li data-target="#501" data-slide-to="1"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
              <div class="active item" style="background-color: #fff; text-align: center;">
                <div class="col-md-6"><%= image_tag("/assets/mobile_projects/check_in_ukraine/1.png") %></div>
                <div class="col-md-6"><%= image_tag("/assets/mobile_projects/check_in_ukraine/2.png") %></div>
              </div>
              <div class="item" style="background-color: #fff; text-align: center;">
                <div class="col-md-6"><%= image_tag("/assets/mobile_projects/check_in_ukraine/3.png") %></div>
                <div class="col-md-6"><%= image_tag("/assets/mobile_projects/check_in_ukraine/4.png") %></div>
              </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#501" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#501" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </div>
        <div class="col-md-4" style="text-align: center;">
          <div class="vertical-align text-justify">
            <div class="row">
              <div style="border-right: 1px solid lightgray" class="col-md-6">
                <h4 style="text-align: center;">
                  <%= 'Check in Ukraine' %>
                </h4>
                <h4 style="text-align: center;">
                  <a href="https://play.google.com/store/apps/details?id=com.solux.ciulite" target="_blank"><img alt="" src="/assets/link_android_link_android_get_it_on_play_logo_large.png" style="width: 131px; height: 40px;"></a>
                </h4>
              </div>
              <div class="col-md-6">
                <%= image_tag("/assets/mobile_projects/check_in_ukraine/qr-code-check_in_ukraine_1.gif") %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Carousel -->
      <!-- Carousel -->
      <div style="padding-bottom: 380px; padding-top: 10px; border-bottom: solid 1px lightgray;">
        <div class="col-md-8" style="text-align: center;">
          <div id="502" class="carousel slide" data-interval="5000" data-ride="carousel">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
              <li data-target="#502" data-slide-to="0" class="active"></li>
              <li data-target="#502" data-slide-to="1"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
              <div class="active item" style="background-color: #fff; text-align: center;">
                <div class="col-md-4"><%= image_tag("/assets/mobile_projects/current_gps_location/1.png") %></div>
                <div class="col-md-4"><%= image_tag("/assets/mobile_projects/current_gps_location/2.png") %></div>
                <div class="col-md-4"><%= image_tag("/assets/mobile_projects/current_gps_location/3.png") %></div>
              </div>
              <div class="item" style="background-color: #fff; text-align: center;">

                <div class="col-md-2"><%= image_tag("/assets/mobile_projects/current_gps_location/4.png") %></div>
                <div class="col-md-2"><%= image_tag("/assets/mobile_projects/current_gps_location/5.png") %></div>
                <div class="col-md-2"><%= image_tag("/assets/mobile_projects/current_gps_location/6.png") %></div>
                <div class="col-md-2"><%= image_tag("/assets/mobile_projects/current_gps_location/7.png") %></div>
              </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#502" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#502" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </div>
        <div class="col-md-4" style="text-align: center;">
          <div class="vertical-align text-justify">
            <div class="row">
              <div style="border-right: 1px solid lightgray" class="col-md-6">
                <h4 style="text-align: center;">
                  <%= 'Current GPS Location' %>
                </h4>
                <h4 style="text-align: center;">
                  <a href="https://play.google.com/store/apps/details?id=com.cbsb.sendyourlocation" target="_blank"><img alt="" src="/assets/link_android_link_android_get_it_on_play_logo_large.png" style="width: 131px; height: 40px;"></a>
                </h4>
              </div>
              <div class="col-md-6">
                <%= image_tag("/assets/mobile_projects/current_gps_location/qr-code_share_gps_location.gif") %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Carousel -->
      <!-- Carousel -->
      <div style="padding-bottom: 380px; padding-top: 10px; border-bottom: solid 1px lightgray;">
        <div class="col-md-8" style="text-align: center;">
          <div id="503" class="carousel slide" data-interval="5000" data-ride="carousel">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
              <li data-target="#503" data-slide-to="0" class="active"></li>
              <li data-target="#503" data-slide-to="1"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
              <div class="active item" style="background-color: #fff; text-align: center;">
                <div class="col-md-4"><%= image_tag("/assets/mobile_projects/rasiftp/1.png") %></div>
                <div class="col-md-4"><%= image_tag("/assets/mobile_projects/rasiftp/2.png") %></div>
                <div class="col-md-4"><%= image_tag("/assets/mobile_projects/rasiftp/3.png") %></div>
              </div>
              <div class="item" style="background-color: #fff; text-align: center;">
                <div class="col-md-6"><%= image_tag("/assets/mobile_projects/rasiftp/4.png") %></div>
                <div class="col-md-6"><%= image_tag("/assets/mobile_projects/rasiftp/5.png") %></div>
              </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#503" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#503" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </div>
        <div class="col-md-4" style="text-align: center;">
          <div class="vertical-align text-justify">
            <div class="row">
              <div style="border-right: 1px solid lightgray" class="col-md-6">
                <h4 style="text-align: center;">
                  <%= 'RiseFTP server' %>
                </h4>
                <h4 style="text-align: center;">
                  <a href="https://play.google.com/store/apps/details?id=com.cbsb.ftpserv" target="_blank"><img alt="" src="/assets/link_android_link_android_get_it_on_play_logo_large.png" style="width: 131px; height: 40px;"></a>
                </h4>
              </div>
              <div class="col-md-6">
                <%= image_tag("/assets/mobile_projects/rasiftp/qr-code_riseftp_server.gif") %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Carousel -->
      <!-- Carousel -->
      <div style="padding-bottom: 380px; padding-top: 10px; border-bottom: solid 1px lightgray;">
        <div class="col-md-8" style="text-align: center;">
          <div id="504" class="carousel slide" data-interval="5000" data-ride="carousel">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
              <li data-target="#504" data-slide-to="0" class="active"></li>
              <li data-target="#504" data-slide-to="1"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
              <div class="active item" style="background-color: #fff; text-align: center;">
                <div class="col-md-4"><%= image_tag("/assets/mobile_projects/travel_blog/1.png") %></div>
                <div class="col-md-4"><%= image_tag("/assets/mobile_projects/travel_blog/2.png") %></div>
                <div class="col-md-4"><%= image_tag("/assets/mobile_projects/travel_blog/3.png") %></div>
              </div>
              <div class="item" style="background-color: #fff; text-align: center;">

                <div class="col-md-2"><%= image_tag("/assets/mobile_projects/travel_blog/4.png") %></div>
                <div class="col-md-2"><%= image_tag("/assets/mobile_projects/travel_blog/5.png") %></div>
                <div class="col-md-2"><%= image_tag("/assets/mobile_projects/travel_blog/6.png") %></div>
                <div class="col-md-2"><%= image_tag("/assets/mobile_projects/travel_blog/7.png") %></div>
              </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#504" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#504" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </div>
        <div class="col-md-4" style="text-align: center;">
          <div class="vertical-align text-justify">
            <div class="row">
              <div style="border-right: 1px solid lightgray" class="col-md-6">
                <h4 style="text-align: center;">
                  <%= 'Save your travel' %>
                </h4>
                <h4 style="text-align: center;">
                  <a href="https://play.google.com/store/apps/details?id=com.cbsb.travelblog" target="_blank"><img alt="" src="/assets/link_android_link_android_get_it_on_play_logo_large.png" style="width: 131px; height: 40px;"></a>
                </h4>
              </div>
              <div class="col-md-6">
                <%= image_tag("/assets/mobile_projects/travel_blog/qr-code_save_travel_blog.gif") %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Carousel -->
      <!-- Carousel -->
      <div style="padding-bottom: 380px; padding-top: 10px; border-bottom: solid 1px lightgray;">
        <div class="col-md-8" style="text-align: center;">
          <div id="505" class="carousel slide" data-interval="5000" data-ride="carousel">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
              <li data-target="#505" data-slide-to="0" class="active"></li>
              <li data-target="#505" data-slide-to="1"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
              <div class="active item" style="background-color: #fff; text-align: center;">
                <div class="col-md-4"><%= image_tag("/assets/mobile_projects/text_editor/1.png") %></div>
                <div class="col-md-4"><%= image_tag("/assets/mobile_projects/text_editor/2.png") %></div>
                <div class="col-md-4"><%= image_tag("/assets/mobile_projects/text_editor/3.png") %></div>
              </div>
              <div class="item" style="background-color: #fff; text-align: center;">
                <div class="col-md-4"><%= image_tag("/assets/mobile_projects/text_editor/4.png") %></div>
                <div class="col-md-4"><%= image_tag("/assets/mobile_projects/text_editor/5.png") %></div>
                <div class="col-md-4"><%= image_tag("/assets/mobile_projects/text_editor/6.png") %></div>
              </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#505" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#505" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </div>
        <div class="col-md-4" style="text-align: center;">
          <div class="vertical-align text-justify">
            <div class="row">
              <div style="border-right: 1px solid lightgray" class="col-md-6">
                <h4 style="text-align: center;">
                  <%= 'Small Text Editor' %>
                </h4>
                <h4 style="text-align: center;">
                  <a href="https://play.google.com/store/apps/details?id=com.cbsb.textedit" target="_blank"><img alt="" src="/assets/link_android_link_android_get_it_on_play_logo_large.png" style="width: 131px; height: 40px;"></a>
                </h4>
              </div>
              <div class="col-md-6">
                <%= image_tag("/assets/mobile_projects/text_editor/qr-code_text_editor.gif") %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Carousel -->
      <!-- Carousel -->
      <div style="padding-bottom: 380px; padding-top: 10px; border-bottom: solid 1px lightgray;">
        <div class="col-md-8" style="text-align: center;">
          <div id="506" class="carousel slide" data-interval="5000" data-ride="carousel">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
              <li data-target="#506" data-slide-to="0" class="active"></li>
              <li data-target="#506" data-slide-to="1"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
              <div class="active item" style="background-color: #fff; text-align: center;">
                <div class="col-md-2"><%= image_tag("/assets/mobile_projects/barcode_gen/barcode_gen_1.png") %></div>
                <div class="col-md-2"><%= image_tag("/assets/mobile_projects/barcode_gen/barcode_gen_2.png") %></div>
                <div class="col-md-2"><%= image_tag("/assets/mobile_projects/barcode_gen/barcode_gen_3.png") %></div>
                <div class="col-md-2"><%= image_tag("/assets/mobile_projects/barcode_gen/barcode_gen_4.png") %></div>
              </div>
              <div class="item" style="background-color: #fff; text-align: center;">
                <div class="col-md-2"><%= image_tag("/assets/mobile_projects/barcode_gen/barcode_gen_5.png") %></div>
                <div class="col-md-2"><%= image_tag("/assets/mobile_projects/barcode_gen/barcode_gen_6.png") %></div>
                <div class="col-md-2"><%= image_tag("/assets/mobile_projects/barcode_gen/barcode_gen_7.png") %></div>
                <div class="col-md-2"><%= image_tag("/assets/mobile_projects/barcode_gen/barcode_gen_8.png") %></div>
              </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#506" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#506" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </div>
        <div class="col-md-4" style="text-align: center;">
          <div class="vertical-align text-justify">
            <div class="row">
              <div style="border-right: 1px solid lightgray" class="col-md-6">
                <h4 style="text-align: center;">
                  <%= 'CB Barcode ReGen' %>
                </h4>
                <h4 style="text-align: center;">
                  <a href="https://play.google.com/store/apps/details?id=com.cbsb.barcodegen" target="_blank"><img alt="" src="/assets/link_android_link_android_get_it_on_play_logo_large.png" style="width: 131px; height: 40px;"></a>
                </h4>
              </div>
              <div class="col-md-6">
                <%= image_tag("/assets/mobile_projects/barcode_gen/qr-code_barcode_gen.gif") %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Carousel -->
      <!-- Carousel -->
      <div style="padding-bottom: 380px; padding-top: 10px; border-bottom: solid 1px lightgray;">
        <div class="col-md-8" style="text-align: center;">
          <div id="509" class="carousel slide" data-interval="5000" data-ride="carousel">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
              <li data-target="#509" data-slide-to="0" class="active"></li>
              <li data-target="#509" data-slide-to="1"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
              <div class="active item" style="background-color: #fff; text-align: center;">
                <div class="col-md-6"><%= image_tag("/assets/mobile_projects/data_backup/CB_data_backup_1.png") %></div>
                <div class="col-md-6"><%= image_tag("/assets/mobile_projects/data_backup/CB_data_backup_2.png") %></div>
              </div>
              <div class="item" style="background-color: #fff; text-align: center;">
                <div class="col-md-6"><%= image_tag("/assets/mobile_projects/data_backup/CB_data_backup_3.png") %></div>
                <div class="col-md-6"><%= image_tag("/assets/mobile_projects/data_backup/CB_data_backup_4.png") %></div>
              </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#509" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#509" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </div>
        <div class="col-md-4" style="text-align: center;">
          <div class="vertical-align text-justify">
            <div class="row">
              <div style="border-right: 1px solid lightgray" class="col-md-6">
                <h4 style="text-align: center;">
                  <%= 'CB data backup' %>
                </h4>
                <h4 style="text-align: center;">
                  <a href="https://play.google.com/store/apps/details?id=com.cbsb.backup" target="_blank"><img alt="" src="/assets/link_android_link_android_get_it_on_play_logo_large.png" style="width: 131px; height: 40px;"></a>
                </h4>
              </div>
              <div class="col-md-6">
                <%= image_tag("/assets/mobile_projects/data_backup/qr-code_data_backup.gif") %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Carousel -->
      <!-- Carousel -->
      <div style="padding-bottom: 380px; padding-top: 10px; border-bottom: solid 1px lightgray;">
        <div class="col-md-8" style="text-align: center;">
          <div id="507" class="carousel slide" data-interval="5000" data-ride="carousel">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
              <li data-target="#507" data-slide-to="0" class="active"></li>
              <li data-target="#507" data-slide-to="1"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
              <div class="active item" style="background-color: #fff; text-align: center;">
                <div class="col-md-4"><%= image_tag("/assets/mobile_projects/timer/1.png") %></div>
                <div class="col-md-4"><%= image_tag("/assets/mobile_projects/timer/2.png") %></div>
                <div class="col-md-4"><%= image_tag("/assets/mobile_projects/timer/3.png") %></div>
              </div>
              <div class="item" style="background-color: #fff; text-align: center;">
                <div class="col-md-6"><%= image_tag("/assets/mobile_projects/timer/4.png") %></div>
                <div class="col-md-6"><%= image_tag("/assets/mobile_projects/timer/5.png") %></div>
              </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#507" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#507" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </div>
        <div class="col-md-4" style="text-align: center;">
          <div class="vertical-align text-justify">
            <div class="row">
              <div style="border-right: 1px solid lightgray" class="col-md-6">
                <h4 style="text-align: center;">
                  <%= 'Easy Timer' %>
                </h4>
                <h4 style="text-align: center;">
                  <a href="https://play.google.com/store/apps/details?id=net.cbsb.android.easytimer#?t" target="_blank"><img alt="" src="/assets/link_android_link_android_get_it_on_play_logo_large.png" style="width: 131px; height: 40px;"></a>
                </h4>
              </div>
              <div class="col-md-6">
                <%= image_tag("/assets/mobile_projects/timer/qr-code_easy_timer.gif") %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Carousel -->
      <!-- Carousel -->
      <div style="padding-bottom: 380px; padding-top: 10px; border-bottom: solid 1px lightgray;">
        <div class="col-md-8" style="text-align: center;">
          <div id="508" class="carousel slide" data-interval="5000" data-ride="carousel">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
              <li data-target="#508" data-slide-to="0" class="active"></li>
              <li data-target="#508" data-slide-to="1"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
              <div class="active item" style="background-color: #fff; text-align: center;">
                <div class="col-md-6"><%= image_tag("/assets/mobile_projects/convert_number_systems/1.png") %></div>
                <div class="col-md-6"><%= image_tag("/assets/mobile_projects/convert_number_systems/2.png") %></div>

              </div>
              <div class="item" style="background-color: #fff; text-align: center;">
                <div class="col-md-6"><%= image_tag("/assets/mobile_projects/convert_number_systems/3.png") %></div>
                <div class="col-md-6"><%= image_tag("/assets/mobile_projects/convert_number_systems/4.png") %></div>
              </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#508" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#508" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </div>
        <div class="col-md-4" style="text-align: center;">
          <div class="vertical-align text-justify">
            <div class="row">
              <div style="border-right: 1px solid lightgray" class="col-md-6">
                <h4 style="text-align: center;">
                  <%= 'Convert number systems' %>
                </h4>
                <h4 style="text-align: center;">
                  <a href="https://play.google.com/store/apps/details?id=com.cbsb.hexconverter" target="_blank"><img alt="" src="/assets/link_android_link_android_get_it_on_play_logo_large.png" style="width: 131px; height: 40px;"></a>
                </h4>
              </div>
              <div class="col-md-6">
                <%= image_tag("/assets/mobile_projects/convert_number_systems/qr-code_hex_converter.gif") %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Carousel -->
      <!-- Carousel -->
      <div style="padding-bottom: 380px; padding-top: 10px; border-bottom: solid 1px lightgray;">
        <div class="col-md-8" style="text-align: center;">
          <div id="510" class="carousel slide" data-interval="5000" data-ride="carousel">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
              <li data-target="#510" data-slide-to="0" class="active"></li>
              <li data-target="#510" data-slide-to="1"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
              <div class="active item" style="background-color: #fff; text-align: center;">
                <div class="col-md-6"><%= image_tag("/assets/mobile_projects/screen_resoluion/1.png") %></div>
                <div class="col-md-6"><%= image_tag("/assets/mobile_projects/screen_resoluion/2.png") %></div>

              </div>
              <div class="item" style="background-color: #fff; text-align: center;">
                <div class="col-md-6"><%= image_tag("/assets/mobile_projects/screen_resoluion/3.png") %></div>
                <div class="col-md-6"><%= image_tag("/assets/mobile_projects/screen_resoluion/4.png") %></div>
              </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#510" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#510" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </div>
        <div class="col-md-4" style="text-align: center;">
          <div class="vertical-align text-justify">
            <div class="row">
              <div style="border-right: 1px solid lightgray" class="col-md-6">
                <h4 style="text-align: center;">
                  <%= 'CB Screen Resolution' %>
                </h4>
                <h4 style="text-align: center;">
                  <a href="https://play.google.com/store/apps/details?id=com.cbsb.screenresolution" target="_blank"><img alt="" src="/assets/link_android_link_android_get_it_on_play_logo_large.png" style="width: 131px; height: 40px;"></a>
                </h4>
              </div>
              <div class="col-md-6">
                <%= image_tag("/assets/mobile_projects/screen_resoluion/qr-code_screenresol.gif") %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Carousel -->
      <!-- Carousel -->
      <div style="padding-bottom: 380px; padding-top: 10px; border-bottom: solid 1px lightgray;">
        <div class="col-md-8" style="text-align: center;">
          <div id="511" class="carousel slide" data-interval="5000" data-ride="carousel">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
              <li data-target="#511" data-slide-to="0" class="active"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
              <div class="active item" style="background-color: #fff; text-align: center;">
                <div class="col-md-6"><%= image_tag("/assets/mobile_projects/check_your_ip/1.png") %></div>
                <div class="col-md-6"><%= image_tag("/assets/mobile_projects/check_your_ip/2.png") %></div>

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4" style="text-align: center;">
          <div class="vertical-align text-justify">
            <div class="row">
              <div style="border-right: 1px solid lightgray" class="col-md-6">
                <h4 style="text-align: center;">
                  <%= 'Check your IP' %>
                </h4>
                <h4 style="text-align: center;">
                  <a href="https://play.google.com/store/apps/details?id=com.cbsb.checkyourip" target="_blank"><img alt="" src="/assets/link_android_link_android_get_it_on_play_logo_large.png" style="width: 131px; height: 40px;"></a>
                </h4>
              </div>
              <div class="col-md-6">
                <%= image_tag("/assets/mobile_projects/check_your_ip/qr-code_check_your_IP.gif") %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Carousel -->
      <!-- Carousel -->
      <div style="padding-bottom: 380px; padding-top: 10px; border-bottom: solid 1px lightgray;">
        <div class="col-md-8" style="text-align: center;">
          <div id="512" class="carousel slide" data-interval="5000" data-ride="carousel">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
              <li data-target="#512" data-slide-to="0" class="active"></li>
              <li data-target="#512" data-slide-to="1"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
              <div class="active item" style="background-color: #fff; text-align: center;">
                <div class="col-md-6"><%= image_tag("/assets/mobile_projects/small_memo/1.png") %></div>
                <div class="col-md-6"><%= image_tag("/assets/mobile_projects/small_memo/2.png") %></div>

              </div>
              <div class="item" style="background-color: #fff; text-align: center;">
                <div class="col-md-6"><%= image_tag("/assets/mobile_projects/small_memo/3.png") %></div>
                <div class="col-md-6"><%= image_tag("/assets/mobile_projects/small_memo/4.png") %></div>
              </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#512" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#512" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </div>
        <div class="col-md-4" style="text-align: center;">
          <div class="vertical-align text-justify">
            <div class="row">
              <div style="border-right: 1px solid lightgray" class="col-md-6">
                <h4 style="text-align: center;">
                  <%= 'Small Memo' %>
                </h4>
                <h4 style="text-align: center;">
                  <a href="https://play.google.com/store/apps/details?id=com.cbsb.smallmemo" target="_blank"><img alt="" src="/assets/link_android_link_android_get_it_on_play_logo_large.png" style="width: 131px; height: 40px;"></a>
                </h4>
              </div>
              <div class="col-md-6">
                <%= image_tag("/assets/mobile_projects/small_memo/qr-code_small_memo.gif") %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Carousel -->
      <!-- Carousel -->
      <div style="padding-bottom: 380px; padding-top: 10px; border-bottom: solid 1px lightgray;">
        <div class="col-md-8" style="text-align: center;">
          <div id="513" class="carousel slide" data-interval="5000" data-ride="carousel">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
              <li data-target="#513" data-slide-to="0" class="active"></li>
              <li data-target="#513" data-slide-to="1"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
              <div class="active item" style="background-color: #fff; text-align: center;">
                <div class="col-md-6"><%= image_tag("/assets/mobile_projects/wakeremotelan/1.png") %></div>
                <div class="col-md-6"><%= image_tag("/assets/mobile_projects/wakeremotelan/2.png") %></div>

              </div>
              <div class="item" style="background-color: #fff; text-align: center;">
                <div class="col-md-6"><%= image_tag("/assets/mobile_projects/wakeremotelan/3.png") %></div>
                <div class="col-md-6"><%= image_tag("/assets/mobile_projects/wakeremotelan/4.png") %></div>
              </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#513" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#513" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </div>
        <div class="col-md-4" style="text-align: center;">
          <div class="vertical-align text-justify">
            <div class="row">
              <div style="border-right: 1px solid lightgray" class="col-md-6">
                <h4 style="text-align: center;">
                  <%= 'Wake Remote Lan' %>
                </h4>
                <h4 style="text-align: center;">
                  <a href="https://play.google.com/store/apps/details?id=com.cbsb.wakelan" target="_blank"><img alt="" src="/assets/link_android_link_android_get_it_on_play_logo_large.png" style="width: 131px; height: 40px;"></a>
                </h4>
              </div>
              <div class="col-md-6">
                <%= image_tag("/assets/mobile_projects/wakeremotelan/qr-code_wakeremotelan.gif") %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Carousel -->
      <!-- Carousel -->
      <div style="padding-bottom: 380px; padding-top: 10px; border-bottom: solid 1px lightgray;">
        <div class="col-md-8" style="text-align: center;">
          <div id="514" class="carousel slide" data-interval="5000" data-ride="carousel">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
              <li data-target="#514" data-slide-to="0" class="active"></li>
              <li data-target="#514" data-slide-to="1"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
              <div class="active item" style="background-color: #fff; text-align: center;">
                <div class="col-md-6"><%= image_tag("/assets/mobile_projects/volume_manager/volume_manager_1.png") %></div>
                <div class="col-md-6"><%= image_tag("/assets/mobile_projects/volume_manager/volume_manager_2.png") %></div>

              </div>
              <div class="item" style="background-color: #fff; text-align: center;">
                <div class="col-md-12"><%= image_tag("/assets/mobile_projects/volume_manager/volume_manager_3.png") %></div>
              </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#514" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#514" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </div>
        <div class="col-md-4" style="text-align: center;">
          <div class="vertical-align text-justify">
            <div class="row">
              <div style="border-right: 1px solid lightgray" class="col-md-6">
                <h4 style="text-align: center;">
                  <%= 'Volume Manager' %>
                </h4>
                <h4 style="text-align: center;">
                  <a href="https://play.google.com/store/apps/details?id=com.cbsb.aam.volume" target="_blank"><img alt="" src="/assets/link_android_link_android_get_it_on_play_logo_large.png" style="width: 131px; height: 40px;"></a>
                </h4>
              </div>
              <div class="col-md-6">
                <%= image_tag("/assets/mobile_projects/volume_manager/qr-code_volume_manager.gif") %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Carousel -->
      <!-- Carousel -->
      <div style="padding-bottom: 380px; padding-top: 10px; border-bottom: solid 1px lightgray;">
        <div class="col-md-8" style="text-align: center;">
          <div id="515" class="carousel slide" data-interval="5000" data-ride="carousel">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
              <li data-target="#515" data-slide-to="0" class="active"></li>
              <li data-target="#515" data-slide-to="1"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
              <div class="active item" style="background-color: #fff; text-align: center;">
                <div class="col-md-6"><%= image_tag("/assets/mobile_projects/Teleport_SaaS/Teleport_SAAS_1.png") %></div>
                <div class="col-md-6"><%= image_tag("/assets/mobile_projects/Teleport_SaaS/Teleport_SAAS_2.png") %></div>

              </div>
              <div class="item" style="background-color: #fff; text-align: center;">
                <div class="col-md-12"><%= image_tag("/assets/mobile_projects/Teleport_SaaS/Teleport_SAAS_3.png") %></div>
              </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#515" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#515" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </div>
        <div class="col-md-4" style="text-align: center;">
          <div class="vertical-align text-justify">
            <div class="row">
              <div style="border-right: 1px solid lightgray" class="col-md-6">
                <h4 style="text-align: center;">
                  <%= 'Teleport SAAS System Client' %>
                </h4>
                <h4 style="text-align: center;">
                  <a href="https://play.google.com/store/apps/details?id=com.teleport.saas" target="_blank"><img alt="" src="/assets/link_android_link_android_get_it_on_play_logo_large.png" style="width: 131px; height: 40px;"></a>
                </h4>
              </div>
              <div class="col-md-6">
                <%= image_tag("/assets/mobile_projects/Teleport_SaaS/Teleport_SAAS_qr-code.gif") %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Carousel -->
      <!-- Carousel -->
      <div style="padding-bottom: 380px; padding-top: 10px; border-bottom: solid 1px lightgray;">
        <div class="col-md-8" style="text-align: center;">
          <div id="516" class="carousel slide" data-interval="5000" data-ride="carousel">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
              <li data-target="#516" data-slide-to="0" class="active"></li>
              <li data-target="#516" data-slide-to="1"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
              <div class="active item" style="background-color: #fff; text-align: center;">
                <div class="col-md-6"><%= image_tag("/assets/mobile_projects/Teleport_Track/Teleport_Track_1.png") %></div>
                <div class="col-md-6"><%= image_tag("/assets/mobile_projects/Teleport_Track/Teleport_Track_2.png") %></div>

              </div>
              <div class="item" style="background-color: #fff; text-align: center;">
                <div class="col-md-12"><%= image_tag("/assets/mobile_projects/Teleport_Track/Teleport_Track_3.png") %></div>
              </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#516" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#516" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </div>
        <div class="col-md-4" style="text-align: center;">
          <div class="vertical-align text-justify">
            <div class="row">
              <div style="border-right: 1px solid lightgray" class="col-md-6">
                <h4 style="text-align: center;">
                  <%= 'Teleport Track' %>
                </h4>
                <h4 style="text-align: center;">
                  <a href="https://play.google.com/store/apps/details?id=com.teleport.saasTYD" target="_blank"><img alt="" src="/assets/link_android_link_android_get_it_on_play_logo_large.png" style="width: 131px; height: 40px;"></a>
                </h4>
              </div>
              <div class="col-md-6">
                <%= image_tag("/assets/mobile_projects/Teleport_Track/qr-code_Teleport_Track.gif") %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Carousel -->
    </div>
  </div>
</div>
</div>