<div style="background: #ededed; padding-bottom: 30px;" id="more_saas_projects" name="more_saas_projects">
  <div class="container">
    <div class="row" style="padding-top: 50px;">
      </br>
      <!-- block -->
      <div style="padding-bottom: 700px; padding-top: 10px; border-bottom: solid 1px lightgray;">
      <div class="col-md-6">
        <img alt="" src="/assets/macbookpro.png" style="width: 500px; height: 295px; z-index: 999;">
        <div class="mackbook">
          <div id="1" class="carousel slide" data-interval="5000" data-ride="carousel">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
              <li data-target="#1" data-slide-to="0" class="active"></li>
              <li data-target="#1" data-slide-to="1"></li>
              <li data-target="#1" data-slide-to="2"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
              <div class="active item">
                <%= image_tag("/assets/projects/saas_teleport/saas_teleport_1.png") %>
              </div>
              <div class="item">
                <%= image_tag("/assets/projects/saas_teleport/saas_teleport_3.png") %>
              </div>
              <div class="item">
                <%= image_tag("/assets/projects/saas_teleport/saas_teleport_2.png") %>
              </div>
            </div>
          </div>
        </div>
        <div class="vertical-align text-justify">
          </br>
          </br>
          <div class="row">
            <div style="border-right: 1px solid lightgray" class="col-md-6">
              <h4 style="text-align: center;">
                <%= (t 'saas.teleport') %>
              </h4>
              <p style="text-align: center;"><%= (t 'saas.teleport_saas_info') %></p>
              <h4 style="text-align: center;">
                <a href="https://saas.teleport-ds.com" target="_blank"><img alt="" src="/assets/link_web.png" style="width: 131px; height: 40px;"></a>
              </h4>
            </div>
            <div class="col-md-6">
              <h4><%= (t 'technology.technologies') %></h4>
              <p>
              <ul>
                <li><%= (t 'technology.ruby') %></li>
                <li><%= (t 'technology.rails') %></li>
                <li><%= (t 'technology.bootstrap') %></li>
                <li><%= (t 'technology.javascript') %></li>
                <li><%= (t 'technology.ajax') %></li>
                <li><%= (t 'technology.jquery') %></li>
                <li><%= (t 'technology.coffeescript') %></li>
                <li><%= (t 'technology.i18n') %></li>
                <li><%= (t 'technology.pg') %></li>
                <li><%= (t 'technology.heroku') %></li>
                <li><%= (t 'technology.amazon_s3') %></li>
                <li><%= (t 'technology.google_maps_api') %></li>
                <li><%= (t 'technology.facebook') %></li>
                <li><%= (t 'technology.twitter') %></li>
                <li><%= (t 'technology.google_api') %></li>
                <li><%= (t 'technology.google_currency') %></li>
                <li><%= (t 'technology.new_relic') %></li>
                <li><%= (t 'technology.rspec') %></li>
              </ul>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <img alt="" src="/assets/macbookpro.png" style="width: 500px; height: 295px; z-index: 999;">
        <div class="mackbook">
          <div id="3" class="carousel slide" data-interval="5000" data-ride="carousel">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
              <li data-target="#3" data-slide-to="0" class="active"></li>
              <li data-target="#3" data-slide-to="1"></li>
              <li data-target="#3" data-slide-to="2"></li>
              <li data-target="#3" data-slide-to="3"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
              <div class="active item">
                <%= image_tag("/assets/projects/cba_appraiser/cba_appraiser_1.png") %>
              </div>
              <div class="item">
                <%= image_tag("/assets/projects/cba_appraiser/cba_appraiser_2.png") %>
              </div>
              <div class="item">
                <%= image_tag("/assets/projects/cba_appraiser/cba_appraiser_3.png") %>
              </div>
              <div class="item">
                <%= image_tag("/assets/projects/cba_appraiser/cba_appraiser_4.png") %>
              </div>
            </div>
          </div>
        </div>
        <div class="vertical-align text-justify">
          </br>
          </br>
          <div class="row">
            <div style="border-right: 1px solid lightgray" class="col-md-6">
              <h4 style="text-align: center;">
                <%= (t 'saas.cba_appraiser') %>
              </h4>
              <p style="text-align: center;"><%= (t 'saas.cba_appraiser_info') %></p>
              <h4 style="text-align: center;">
                <a href="https://cba-appraiser.herokuapp.com/" target="_blank"><img alt="" src="/assets/link_web.png" style="width: 131px; height: 40px;"></a>
              </h4>
            </div>
            <div class="col-md-6">
              <h4><%= (t 'technology.technologies') %></h4>
              <p>
              <ul>
                <li><%= (t 'technology.ruby_2_1_3') %></li>
                <li><%= (t 'technology.rails_4_1_5') %></li>
                <li><%= (t 'technology.bootstrap') %></li>
                <li><%= (t 'technology.javascript') %></li>
                <li><%= (t 'technology.ajax') %></li>
                <li><%= (t 'technology.jquery') %></li>
                <li><%= (t 'technology.pg') %></li>
                <li><%= (t 'technology.heroku') %></li>
                <li><%= (t 'technology.new_relic') %></li>
                <li><%= (t 'technology.metro_ui_2_0') %></li>
                <li><%= (t 'technology.microsoft_msdn') %></li>
                <li><%= (t 'technology.capybara') %></li>
              </ul>
              </p>
            </div>
          </div>
        </div>

      </div>
        <div class="col-md-12" style="text-align: center;">
          <img alt="" src="/assets/macbookpro.png" style="width: 500px; height: 295px; z-index: 999;">
          <div class="mackbook_center">
            <div id="2" class="carousel slide" data-interval="5000" data-ride="carousel">
              <!-- Carousel indicators -->
              <ol class="carousel-indicators">
                <li data-target="#2" data-slide-to="0" class="active"></li>
                <li data-target="#2" data-slide-to="1"></li>
                <li data-target="#2" data-slide-to="2"></li>
              </ol>
              <!-- Carousel items -->
              <div class="carousel-inner">
                <div class="active item">
                  <%= image_tag("/assets/projects/saas_cba/cba_saas_1.png") %>
                </div>
                <div class="item">
                  <%= image_tag("/assets/projects/saas_cba/cba_saas_2.png") %>
                </div>
                <div class="item">
                  <%= image_tag("/assets/projects/saas_cba/cba_saas_3.png") %>
                </div>
              </div>
            </div>
          </div>
          <div class="vertical-align text-justify">
            </br>
            </br>
            <div class="row">
              <div style="border-right: 1px solid lightgray" class="col-md-6">
                <h4 style="text-align: center;">
                  <%= 'saas.cba.com.ua' %>
                </h4>
                <p style="text-align: center;"><%= (t 'saas.cba_saas_info') %></p>
                <h4 style="text-align: center;">
                  <a href="http://saas.cba.com.ua/" target="_blank"><img alt="" src="/assets/link_web.png" style="width: 131px; height: 40px;"></a>
                </h4>
              </div>
              <div class="col-md-6">
                <h4><%= (t 'technology.technologies') %></h4>
                <p>
                <ul>
                  <li><%= (t 'technology.php') %></li>
                  <li><%= (t 'technology.drupal') %></li>
                  <li><%= (t 'technology.custom_theme') %></li>
                  <li><%= (t 'technology.modules') %></li>
                  <li><%= (t 'technology.ajax') %></li>
                  <li><%= (t 'technology.amazon_ec2') %></li>
                  <li><%= (t 'technology.amazon_s3') %></li>
                  <li><%= (t 'technology.node_js') %></li>
                </ul>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- block -->

    </div>
  </div>
</div>