<div style="background: #ededed; padding-bottom: 30px;" id="more_sites" name="more_sites">
  <div class="container">
    <div class="row" style="padding-top: 50px;">
      </br>
      <!-- block -->
      <div style="padding-bottom: 500px; padding-top: 10px; border-bottom: solid 1px lightgray;">
      <div class="col-md-6">
        <img alt="" src="/assets/macbookpro.png" style="width: 500px; height: 295px; z-index: 999;">
        <div class="mackbook">
          <div id="1" class="carousel slide" data-interval="5000" data-ride="carousel">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
              <li data-target="#1" data-slide-to="0" class="active"></li>
              <li data-target="#1" data-slide-to="1"></li>
              <li data-target="#1" data-slide-to="2"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
              <div class="active item">
                <%= image_tag("/assets/projects/teleport-ds.com_rails/teleportds1.png") %>
              </div>
              <div class="item">
                <%= image_tag("/assets/projects/teleport-ds.com_rails/teleportds3.png") %>
              </div>
              <div class="item">
                <%= image_tag("/assets/projects/teleport-ds.com_rails/teleportds2.png") %>
              </div>
            </div>
          </div>
        </div>
        <div class="vertical-align text-justify">
          </br>
          </br>
          <div class="row">
            <div style="border-right: 1px solid lightgray" class="col-md-6">
              <h4 style="text-align: center;">
                <%= (t 'sites.teleport') %>
              </h4>
              <p style="text-align: center;"><%= (t 'sites.teleport_info') %></p>
              <h4 style="text-align: center;">
                <a href="http://www.teleport-ds.com" target="_blank"><img alt="" src="/assets/link_web.png" style="width: 131px; height: 40px;"></a>
              </h4>
            </div>
            <div class="col-md-6">
              <h4><%= (t 'technology.technologies') %></h4>
              <p>
              <ul>
                <li><%= (t 'technology.ruby') %></li>
                <li><%= (t 'technology.rails_4_1_5') %></li>
                <li><%= (t 'technology.bootstrap') %></li>
                <li><%= (t 'technology.coffeescript') %></li>
                <li><%= (t 'technology.i18n') %></li>
                <li><%= (t 'technology.pg') %></li>
                <li><%= (t 'technology.heroku') %></li>
                <li><%= (t 'technology.new_relic') %></li>
              </ul>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <img alt="" src="/assets/macbookpro.png" style="width: 500px; height: 295px; z-index: 999;">
        <div class="mackbook">
          <div id="2" class="carousel slide" data-interval="5000" data-ride="carousel">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
              <li data-target="#2" data-slide-to="0" class="active"></li>
              <li data-target="#2" data-slide-to="1"></li>
              <li data-target="#2" data-slide-to="2"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
              <div class="active item">
                <%= image_tag("/assets/projects/law_assistent_com/law_assistant_1.png") %>
              </div>
              <div class="item">
                <%= image_tag("/assets/projects/law_assistent_com/law_assistant_2.png") %>
              </div>
              <div class="item">
                <%= image_tag("/assets/projects/law_assistent_com/law_assistant_3.png") %>
              </div>
            </div>
          </div>
        </div>
        <div class="vertical-align text-justify">
          </br>
          </br>
          <div class="row">
            <div style="border-right: 1px solid lightgray" class="col-md-6">
              <h4 style="text-align: center;">
                <%= (t 'sites.law_assistant') %>
              </h4>
              <p style="text-align: center;"><%= (t 'sites.law_assistant_info') %></p>
              <h4 style="text-align: center;">
                <a href="http://www.law-assistant.com" target="_blank"><img alt="" src="/assets/link_web.png" style="width: 131px; height: 40px;"></a>
              </h4>
            </div>
            <div class="col-md-6">
              <h4><%= (t 'technology.technologies') %></h4>
              <p>
              <ul>
                <li><%= (t 'technology.ruby') %></li>
                <li><%= (t 'technology.rails') %></li>
                <li><%= (t 'technology.bootstrap') %></li>
                <li><%= (t 'technology.i18n') %></li>
                <li><%= (t 'technology.pg') %></li>
                <li><%= (t 'technology.amazon_aws') %></li>
                <li><%= (t 'technology.amazon_ec2') %></li>
              </ul>
              </p>
            </div>
          </div>
        </div>
      </div>
      </div>
      <!-- block -->

      <!-- block -->
      <div style="padding-bottom: 525px; padding-top: 10px; border-bottom: solid 1px lightgray;">
        <div class="col-md-6">
          <img alt="" src="/assets/macbookpro.png" style="width: 500px; height: 295px; z-index: 999;">
          <div class="mackbook">
            <div id="10" class="carousel slide" data-interval="5000" data-ride="carousel">
              <!-- Carousel indicators -->
              <ol class="carousel-indicators">
                <li data-target="#10" data-slide-to="0" class="active"></li>
                <li data-target="#10" data-slide-to="1"></li>
                <li data-target="#10" data-slide-to="2"></li>
              </ol>
              <!-- Carousel items -->
              <div class="carousel-inner">
                <div class="active item">
                  <%= image_tag("/assets/projects/medical_records_site/medical_records_1.png") %>
                </div>
                <div class="item">
                  <%= image_tag("/assets/projects/medical_records_site/medical_records_3.png") %>
                </div>
                <div class="item">
                  <%= image_tag("/assets/projects/medical_records_site/medical_records_2.png") %>
                </div>
              </div>
            </div>
          </div>
          <div class="vertical-align text-justify">
            </br>
            </br>
            <div class="row">
              <div style="border-right: 1px solid lightgray" class="col-md-6">
                <h4 style="text-align: center;">
                  <%= 'health-records.herokuapp.com' %>
                </h4>
                <p style="text-align: center;"><%= (t 'sites.medical_records_info') %></p>
                <h4 style="text-align: center;">
                  <a href="http://health-records.herokuapp.com/" target="_blank"><img alt="" src="/assets/link_web.png" style="width: 131px; height: 40px;"></a>
                </h4>
              </div>
              <div class="col-md-6">
                <h4><%= (t 'technology.technologies') %></h4>
                <p>
                <ul>
                  <li><%= (t 'technology.ruby') %></li>
                  <li><%= (t 'technology.rails') %></li>
                  <li><%= (t 'technology.i18n') %></li>
                  <li><%= (t 'technology.pg') %></li>
                  <li><%= (t 'technology.heroku') %></li>
                  <li><%= (t 'technology.bootstrap') %></li>
                  <li><%= (t 'technology.custom_theme') %></li>
                </ul>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <img alt="" src="/assets/macbookpro.png" style="width: 500px; height: 295px; z-index: 999;">
          <div class="mackbook">
            <div id="11" class="carousel slide" data-interval="5000" data-ride="carousel">
              <!-- Carousel indicators -->
              <ol class="carousel-indicators">
                <li data-target="#11" data-slide-to="0" class="active"></li>
                <li data-target="#11" data-slide-to="1"></li>
                <li data-target="#11" data-slide-to="2"></li>
                <li data-target="#11" data-slide-to="3"></li>
              </ol>
              <!-- Carousel items -->
              <div class="carousel-inner">
                <div class="active item">
                  <%= image_tag("/assets/projects/dent_saas_site/1.png") %>
                </div>
                <div class="item">
                  <%= image_tag("/assets/projects/dent_saas_site/2.png") %>
                </div>
                <div class="item">
                  <%= image_tag("/assets/projects/dent_saas_site/3.png") %>
                </div>
                <div class="item">
                  <%= image_tag("/assets/projects/dent_saas_site/4.png") %>
                </div>
              </div>
            </div>
          </div>
          <div class="vertical-align text-justify">
            </br>
            </br>
            <div class="row">
              <div style="border-right: 1px solid lightgray" class="col-md-6">
                <h4 style="text-align: center;">
                  <%= 'dentsaas.herokuapp.com' %>
                </h4>
                <p style="text-align: center;"><%= (t 'sites.dent_saas_info') %></p>
                <h4 style="text-align: center;">
                  <a href="https://dentsaas.herokuapp.com/" target="_blank"><img alt="" src="/assets/link_web.png" style="width: 131px; height: 40px;"></a>
                </h4>
              </div>
              <div class="col-md-6">
                <h4><%= (t 'technology.technologies') %></h4>
                <p>
                <ul>
                  <li><%= (t 'technology.ruby') %></li>
                  <li><%= (t 'technology.rails_4_1_5') %></li>
                  <li><%= (t 'technology.jquery') %></li>
                  <li><%= (t 'technology.i18n') %></li>
                  <li><%= (t 'technology.pg') %></li>
                  <li><%= (t 'technology.heroku') %></li>
                  <li><%= (t 'technology.bootstrap') %></li>
                  <li><%= (t 'technology.custom_theme') %></li>
                  <li><%= (t 'technology.new_relic') %></li>
                </ul>
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- block -->

      <!-- block -->
      <div style="padding-bottom: 500px; padding-top: 10px; border-bottom: solid 1px lightgray;">
        <div class="col-md-6">
          <img alt="" src="/assets/macbookpro.png" style="width: 500px; height: 295px; z-index: 999;">
          <div class="mackbook">
            <div id="5" class="carousel slide" data-interval="5000" data-ride="carousel">
              <!-- Carousel indicators -->
              <ol class="carousel-indicators">
                <li data-target="#5" data-slide-to="0" class="active"></li>
                <li data-target="#5" data-slide-to="1"></li>
                <li data-target="#5" data-slide-to="2"></li>
              </ol>
              <!-- Carousel items -->
              <div class="carousel-inner">
                <div class="active item">
                  <%= image_tag("/assets/projects/mgi-style.com.ua/mgistyle1.png") %>
                </div>
                <div class="item">
                  <%= image_tag("/assets/projects/mgi-style.com.ua/mgistyle2.png") %>
                </div>
                <div class="item">
                  <%= image_tag("/assets/projects/mgi-style.com.ua/mgistyle3.png") %>
                </div>
              </div>
            </div>
          </div>
          <div class="vertical-align text-justify">
            </br>
            </br>
            <div class="row">
              <div style="border-right: 1px solid lightgray" class="col-md-6">
                <h4 style="text-align: center;">
                  <%= 'www.mgi-style.com.ua' %>
                </h4>
                <p style="text-align: center;"><%= (t 'sites.teleport_info') %></p>
                <h4 style="text-align: center;">
                  <a href="http://www.mgi-style.com.ua/" target="_blank"><img alt="" src="/assets/link_web.png" style="width: 131px; height: 40px;"></a>
                </h4>
              </div>
              <div class="col-md-6">
                <h4><%= (t 'technology.technologies') %></h4>
                <p>
                <ul>
                  <li><%= (t 'technology.wordpress') %></li>
                  <li><%= (t 'technology.custom_theme') %></li>
                  <li><%= (t 'technology.modules') %></li>
                  <li><%= (t 'technology.google_maps_api') %></li>
                </ul>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <img alt="" src="/assets/macbookpro.png" style="width: 500px; height: 295px; z-index: 999;">
          <div class="mackbook">
            <div id="6" class="carousel slide" data-interval="5000" data-ride="carousel">
              <!-- Carousel indicators -->
              <ol class="carousel-indicators">
                <li data-target="#6" data-slide-to="0" class="active"></li>
                <li data-target="#6" data-slide-to="1"></li>
                <li data-target="#6" data-slide-to="2"></li>
                <li data-target="#6" data-slide-to="3"></li>
                <li data-target="#6" data-slide-to="4"></li>
              </ol>
              <!-- Carousel items -->
              <div class="carousel-inner">
                <div class="active item">
                  <%= image_tag("/assets/projects/teleport-ds.com_old/1.png") %>
                </div>
                <div class="item">
                  <%= image_tag("/assets/projects/teleport-ds.com_old/2.png") %>
                </div>
                <div class="item">
                  <%= image_tag("/assets/projects/teleport-ds.com_old/3.png") %>
                </div>
                <div class="item">
                  <%= image_tag("/assets/projects/teleport-ds.com_old/4.png") %>
                </div>
                <div class="item">
                  <%= image_tag("/assets/projects/teleport-ds.com_old/5.png") %>
                </div>
              </div>
            </div>
          </div>
          <div class="vertical-align text-justify">
            </br>
            </br>
            <div class="row">
              <div style="border-right: 1px solid lightgray" class="col-md-6">
                <h4 style="text-align: center;">
                  <%= 'www.teleport-ds.com – Old site' %>
                </h4>
                <p style="text-align: center;"><%= (t 'sites.law_assistant_info') %></p>
                <h4 style="text-align: center;">
                  <a href="http://old.teleport-ds.com" target="_blank"><img alt="" src="/assets/link_web.png" style="width: 131px; height: 40px;"></a>
                </h4>
              </div>
              <div class="col-md-6">
                <h4><%= (t 'technology.technologies') %></h4>
                <p>
                <ul>
                  <li><%= (t 'technology.drupal') %></li>
                  <li><%= (t 'technology.php') %></li>
                  <li><%= (t 'technology.custom_theme') %></li>
                  <li><%= (t 'technology.modules') %></li>
                </ul>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- block -->

      <!-- block -->
      <div style="padding-bottom: 500px; padding-top: 10px; border-bottom: solid 1px lightgray;">
        <div class="col-md-6">
          <img alt="" src="/assets/macbookpro.png" style="width: 500px; height: 295px; z-index: 999;">
          <div class="mackbook">
            <div id="7" class="carousel slide" data-interval="5000" data-ride="carousel">
              <!-- Carousel indicators -->
              <ol class="carousel-indicators">
                <li data-target="#7" data-slide-to="0" class="active"></li>
                <li data-target="#7" data-slide-to="1"></li>
                <li data-target="#7" data-slide-to="2"></li>
              </ol>
              <!-- Carousel items -->
              <div class="carousel-inner">
                <div class="active item">
                  <%= image_tag("/assets/projects/driftangels.com/1.png") %>
                </div>
                <div class="item">
                  <%= image_tag("/assets/projects/driftangels.com/1.png") %>
                </div>
                <div class="item">
                  <%= image_tag("/assets/projects/driftangels.com/1.png") %>
                </div>
              </div>
            </div>
          </div>
          <div class="vertical-align text-justify">
            </br>
            </br>
            <div class="row">
              <div style="border-right: 1px solid lightgray" class="col-md-6">
                <h4 style="text-align: center;">
                  <%= 'www.driftangel.com' %>
                </h4>
                <p style="text-align: center;"><%= (t 'sites.teleport_info') %></p>
                <h4 style="text-align: center;">
                  <a href="http://www.driftangel.com/" target="_blank"><img alt="" src="/assets/link_web.png" style="width: 131px; height: 40px;"></a>
                </h4>
              </div>
              <div class="col-md-6">
                <h4><%= (t 'technology.technologies') %></h4>
                <p>
                <ul>
                  <li><%= (t 'technology.wordpress') %></li>
                  <li><%= (t 'technology.custom_theme') %></li>
                  <li><%= (t 'technology.modules') %></li>
                </ul>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <img alt="" src="/assets/macbookpro.png" style="width: 500px; height: 295px; z-index: 999;">
          <div class="mackbook">
            <div id="8" class="carousel slide" data-interval="5000" data-ride="carousel">
              <!-- Carousel indicators -->
              <ol class="carousel-indicators">
                <li data-target="#8" data-slide-to="0" class="active"></li>
                <li data-target="#8" data-slide-to="1"></li>
                <li data-target="#8" data-slide-to="2"></li>
              </ol>
              <!-- Carousel items -->
              <div class="carousel-inner">
                <div class="active item">
                  <%= image_tag("/assets/projects/sergeydyshkant.com/1.png") %>
                </div>
                <div class="item">
                  <%= image_tag("/assets/projects/sergeydyshkant.com/1.png") %>
                </div>
                <div class="item">
                  <%= image_tag("/assets/projects/sergeydyshkant.com/1.png") %>
                </div>
              </div>
            </div>
          </div>
          <div class="vertical-align text-justify">
            </br>
            </br>
            <div class="row">
              <div style="border-right: 1px solid lightgray" class="col-md-6">
                <h4 style="text-align: center;">
                  <%= 'www.sergeydyshkant.com' %>
                </h4>
                <p style="text-align: center;"><%= (t 'sites.law_assistant_info') %></p>
                <h4 style="text-align: center;">
                  <a href="http://www.apravo.com.ua" target="_blank"><img alt="" src="/assets/link_web.png" style="width: 131px; height: 40px;"></a>
                </h4>
              </div>
              <div class="col-md-6">
                <h4><%= (t 'technology.technologies') %></h4>
                <p>
                <ul>
                  <li><%= (t 'technology.wordpress') %></li>
                  <li><%= (t 'technology.ajax') %></li>
                  <li><%= (t 'technology.custom_theme') %></li>
                  <li><%= (t 'technology.modules') %></li>
                </ul>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- block -->

      <!-- block -->
      <div style="padding-bottom: 500px; padding-top: 10px; border-bottom: solid 1px lightgray;">
      <div class="col-md-6">
        <img alt="" src="/assets/macbookpro.png" style="width: 500px; height: 295px; z-index: 999;">
        <div class="mackbook">
          <div id="9" class="carousel slide" data-interval="5000" data-ride="carousel">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
              <li data-target="#9" data-slide-to="0" class="active"></li>
              <li data-target="#9" data-slide-to="1"></li>
              <li data-target="#9" data-slide-to="2"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
              <div class="active item">
                <%= image_tag("/assets/projects/ratemyco/1.png") %>
              </div>
              <div class="item">
                <%= image_tag("/assets/projects/ratemyco/1.png") %>
              </div>
              <div class="item">
                <%= image_tag("/assets/projects/ratemyco/1.png") %>
              </div>
            </div>
          </div>
        </div>
        <div class="vertical-align text-justify">
          </br>
          </br>
          <div class="row">
            <div style="border-right: 1px solid lightgray" class="col-md-6">
              <h4 style="text-align: center;">
                <%= 'www.ratemyco.com' %>
              </h4>
              <p style="text-align: center;"><%= (t 'saas.teleport_saas_info') %></p>
              <h4 style="text-align: center;">
                <a href="https://www.ratemyco.com" target="_blank"><img alt="" src="/assets/link_web.png" style="width: 131px; height: 40px;"></a>
              </h4>
            </div>
            <div class="col-md-6">
              <h4><%= (t 'technology.technologies') %></h4>
              <p>
              <ul>
                <li><%= (t 'technology.drupal') %></li>
                <li><%= (t 'technology.php') %></li>
                <li><%= (t 'technology.ajax') %></li>
                <li><%= (t 'technology.google_maps_api') %></li>
                <li><%= (t 'technology.custom_theme') %></li>
                <li><%= (t 'technology.modules') %></li>
              </ul>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <img alt="" src="/assets/macbookpro.png" style="width: 500px; height: 295px; z-index: 999;">
        <div class="mackbook">
          <div id="4" class="carousel slide" data-interval="5000" data-ride="carousel">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
              <li data-target="#4" data-slide-to="0" class="active"></li>
              <li data-target="#4" data-slide-to="1"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
              <div class="active item">
                <%= image_tag("/assets/projects/apravo/1.png") %>
              </div>
              <div class="item">
                <%= image_tag("/assets/projects/apravo/2.png") %>
              </div>
            </div>
          </div>
        </div>
        <div class="vertical-align text-justify">
          </br>
          </br>
          <div class="row">
            <div style="border-right: 1px solid lightgray" class="col-md-6">
              <h4 style="text-align: center;">
                <%= 'www.apravo.com.ua' %>
              </h4>
              <p style="text-align: center;"><%= (t 'sites.law_assistant_info') %></p>
              <h4 style="text-align: center;">
                <a href="http://www.apravo.com.ua" target="_blank"><img alt="" src="/assets/link_web.png" style="width: 131px; height: 40px;"></a>
              </h4>
            </div>
            <div class="col-md-6">
              <h4><%= (t 'technology.technologies') %></h4>
              <p>
              <ul>
                <li><%= (t 'technology.wordpress') %></li>
                <li><%= (t 'technology.custom_theme') %></li>
                <li><%= (t 'technology.modules') %></li>
                <li><%= (t 'technology.google_maps_api') %></li>
              </ul>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- block -->
        <div class="col-md-12" style="text-align: center; padding-top: 10px;">
          <img alt="" src="/assets/macbookpro.png" style="width: 500px; height: 295px; z-index: 999;">
          <div class="mackbook_center">
            <div id="3" class="carousel slide" data-interval="5000" data-ride="carousel">
              <!-- Carousel indicators -->
              <ol class="carousel-indicators">
                <li data-target="#3" data-slide-to="0" class="active"></li>
                <li data-target="#3" data-slide-to="1"></li>
                <li data-target="#3" data-slide-to="2"></li>
                <li data-target="#3" data-slide-to="3"></li>
              </ol>
              <!-- Carousel items -->
              <div class="carousel-inner">
                <div class="active item">
                  <%= image_tag("/assets/projects/cba/1.png") %>
                </div>
                <div class="item">
                  <%= image_tag("/assets/projects/cba/2.png") %>
                </div>
                <div class="item">
                  <%= image_tag("/assets/projects/cba/3.png") %>
                </div>
                <div class="item">
                  <%= image_tag("/assets/projects/cba/4.png") %>
                </div>
              </div>
            </div>
          </div>
          <div class="vertical-align text-justify">
            </br>
            </br>
            <div class="row">
              <div style="border-right: 1px solid lightgray" class="col-md-6">
                <h4 style="text-align: center;">
                  <%= 'www.cba.com.ua' %>
                </h4>
                <p style="text-align: center;"><%= (t 'sites.teleport_info') %></p>
                <h4 style="text-align: center;">
                  <a href="http://www.cba.com.ua/" target="_blank"><img alt="" src="/assets/link_web.png" style="width: 131px; height: 40px;"></a>
                </h4>
              </div>
              <div class="col-md-6">
                <h4><%= (t 'technology.technologies') %></h4>
                <p>
                <ul>
                  <li><%= (t 'technology.wordpress') %></li>
                  <li><%= (t 'technology.custom_theme') %></li>
                  <li><%= (t 'technology.modules') %></li>
                  <li><%= (t 'technology.google_maps_api') %></li>
                </ul>
                </p>
              </div>
            </div>
          </div>
        </div>
        </div>
    </div>
  </div>
</div>